<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{ comment.author.avatar }}" alt="Avatar" />
    <mat-card-title>{{ comment.author.userName }} </mat-card-title>
    <div>{{ comment.createdAt | date: "d/M/yy, h:mm a" }}</div>
    <div *ngIf="comment.author.id == currentUser.id">
      <button mat-icon-button color="primary" (click)="editComment()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteComment()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="!isEditComment">
    <p>{{ comment.body }}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" *ngIf="!isEditComment" align="end">
    <div class="like">
      <button mat-icon-button color="primary" (click)="likeComment(true)">
        <mat-icon
          matBadge="{{ likeList().length }}"
          matBadgeColor="warn"
          matBadgeSize="medium"
          [matBadgeHidden]="likeList().length === 0"
          aria-label="like"
          >thumb_up_alt</mat-icon
        >
        <div class="likeList">
          <ul style="list-style-type: none;">
            <li *ngFor="let item of likeList()">
              <img mat-card-avatar src="{{ item.user.avatar }}" alt="Avatar" />
              {{ item.user.userName }}
            </li>
          </ul>
        </div>
      </button>
    </div>
    <div class="like">
      <button mat-icon-button color="primary" (click)="likeComment(false)">
        <mat-icon
          matBadge="{{ dislikeList().length }}"
          matBadgeColor="warn"
          matBadgeSize="medium"
          [matBadgeHidden]="dislikeList().length === 0"
          aria-label="Dislike"
          >thumb_down_alt</mat-icon
        >
        <div class="likeList">
          <ul style="list-style-type: none;">
            <li *ngFor="let item of dislikeList()">
              <img mat-card-avatar src="{{ item.user.avatar }}" alt="Avatar" />
              {{ item.user.userName }}
            </li>
          </ul>
        </div>
      </button>
    </div>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content *ngIf="isEditComment">
    <mat-form-field>
      <textarea [(ngModel)]="comment.body" matInput></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions *ngIf="isEditComment">
    <button
      mat-icon-button
      color="primary"
      matTooltip="Update it"
      (click)="saveEditComment()"
    >
      <mat-icon aria-label="Save">save</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
