<div class="share-dialog">
    <div>
        <h2 class="text-center">Share post by:</h2>
    </div>

    <div >
        <form name="sendEmailForm" #emailForm="ngForm" class="main-content">
            <p class="mg-pd-0">
                Write name to share a post with:
            </p>
            <mat-form-field>
                <input name="shareUsername" [(ngModel)]="toName" matInput placeholder="Username" required>
            </mat-form-field>
        </form>
        <div class="actions">
            <button mat-raised-button color="primary" (click)="sharePostEmail()" [disabled]="!emailForm.valid">
                Send
            </button>
        </div>
    </div>
</div>