<mat-card class="main-content align-center">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <div class="avatar-container" (click)="file.click()">
    <input
      hidden
      class="file-hide"
      #file
      accept="image/*"
      type="file"
      (change)="handleFileInput($event.target)"
    />
    <img
      class="avatar avatar-style"
      src="{{ user.avatar }}"
      alt="Here should be an avatar"
    />
    <div class="img-text">
      Upload
    </div>
  </div>
  <form name="userForm" #userForm="ngForm" class="main-content">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="input-error-message">
            <div *ngIf="email.errors.required">
              Email must not be empty.
            </div>
            <div *ngIf="email.errors.minlength">
              Email must be at least 6 characters long.
            </div>
            <div *ngIf="email.errors.emailPattern">
              Invalid email.
           </div>
         </div>
    <mat-form-field>
      <input
        name="email"
        [(ngModel)]="user.email"
        #email="ngModel"
        matInput
        placeholder="Email"
        required
        minlength="6" appEmailvalidate
      />
     
    </mat-form-field>
    <mat-form-field>
      <input
        name="username"
        [(ngModel)]="user.userName"
        #username="ngModel"
        matInput
        placeholder="Username"
      />
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="saveNewInfo()"  [disabled]="!userForm.valid">
      Save
    </button>
    <button mat-raised-button (click)="goBack()">
      Back
    </button>
  </div>
  <div>
    <button mat-raised-button color="danger">
      <a
      routerLink="/resetpassword"
      [queryParams]="{code: 'CfDJ8LBxIxG2Gf5IjZZG9p+g7oDJxTqYPL7OnGSOIblOksnbNniISOo/jKuZ8RkPriLpsCle5VNwVII5O+r9KPmos1WcwmKCB5mMbYeO/tVKxUiqymsEDFjvWEt0X+KfIQlPbe8fvTMtAaB07IG01vwT2UWn+CjEAYwcZgV6eKhPEP21U9lxLxeG8bE6SXMwninNvWI1lf6jm3Ia1MIDikqL9EC033AMIGlnjvEonbxV+Jb'}"
    >
    </a>  reset password  </button>
  </div>
</mat-card>
