<mat-card [ngClass]="{ 'post-with-comments': showComments }" class="main-content">
  <mat-card-header>
    <img mat-card-avatar src="{{ post.author.avatar }}" alt="Avatar" />
    <mat-card-title>{{ post.author.userName }}</mat-card-title>
    <div class="date">{{ post.createdAt | date: "d/M/yy, h:mm a" }}</div>
    <div *ngIf="isCurrentAuthor() && !isEditPost">
      <button mat-icon-button color="primary" (click)="editPost()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deletePost()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <img
    mat-card-image
    *ngIf="post.previewImage"
    mat-card-image
    src="{{ post.previewImage }}"
    alt="Photo"
  />
  <mat-card-content *ngIf="!isEditPost">
    <p>{{ post.body }}</p>
  </mat-card-content>
  <mat-card-content *ngIf="isEditPost">
    <mat-form-field>
      <textarea [(ngModel)]="post.body" matInput></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions *ngIf="isEditPost">
    <input
      hidden
      #file
      accept="image/*"
      type="file"
      (change)="loadImage($event.target)"
    />
    <button mat-icon-button color="accent" (click)="file.click()">
      <mat-icon aria-label="Choose an image">image</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      matTooltip="Update it"
      (click)="saveEditPost()"
    >
      <mat-icon aria-label="Save">save</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-actions class="actions-buttons" *ngIf="!isEditPost" align="end">
    <div class="like">
      <button mat-icon-button color="primary" (click)="likePost(true)">
        <mat-icon
          matBadge="{{ likeList().length }}"
          matBadgeColor="accent"
          matBadgeSize="medium"
          [matBadgeHidden]="likeList().length === 0"
          aria-label="Like"
          >favorite</mat-icon
        >
        <div class="likeList">
          <ol style="list-style-type: none;">
            <li *ngFor="let item of likeList()">
              <img mat-card-avatar src="{{ item.user.avatar }}" alt="Avatar" />
              {{ item.user.userName }}
            </li>
          </ol>
        </div>
      </button>
    </div>
    <div class="like">
      <button mat-icon-button color="primary" (click)="likePost(false)">
        <mat-icon
          matBadge="{{ dislikeList().length }}"
          matBadgeColor="warn"
          matBadgeSize="medium"
          [matBadgeHidden]="dislikeList().length === 0"
          aria-label="Dislike"
          >thumb_down_alt</mat-icon
        >
        <div class="likeList">
          <ul style="list-style-type: none;">
            <li *ngFor="let item of dislikeList()">
              <img mat-card-avatar src="{{ item.user.avatar }}" alt="Avatar" />
              {{ item.user.userName }}
            </li>
          </ul>
        </div>
      </button>
    </div>
    <button mat-icon-button color="accent" (click)="sharePost()">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)="toggleComments()">
      <mat-icon
        matBadge="{{ post.comments.length }}"
        matBadgeColor="warn"
        matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0"
        aria-label="Add comment"
        >comment</mat-icon
      >
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea
          [(ngModel)]="newComment.body"
          matInput
          placeholder="Comment it..."
        ></textarea>
      </mat-form-field>
      <button
        mat-icon-button
        color="primary"
        matTooltip="Send"
        (click)="sendComment()"
      >
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{ post.comments.length }} in all
    </div>
    <app-comment
      *ngFor="let _comment of post.comments"
      [comment]="_comment"
      [currentUser]="currentUser"
      (deleteCommentRequest)="deleteComment($event)"
    ></app-comment>
  </div>
</mat-card>
